/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/


/* Mobile */
@media only screen and (min-width: 0em) {
    #sidebyside {
        padding: 20px 0;
        .container {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        .content {
            order: 2;
            margin: auto;
            margin-top: 75/16em;
            max-width: 542/16em;

            h2 {
                font-size: 48/16em;
                margin-bottom: 42/48em;
            }

            p {
                margin-bottom: 20/18em;
            }

            ul {
                padding-left: 20/16em;
                margin-bottom: 20/16em;

                li {
                    list-style: none;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;

                    img {
                        margin-right: 10/16em;
                        margin-top: 4/18em;
                    }
                }
            }

            .cs-flex-group {
                /* 16px - 32px */
                padding: clamp(1rem, 3vw, 2rem);
                background-color: #F7F7F7;
                border-radius: 16/16rem;
                position: relative;
            }
    
            .cs-flex-p {
                /* 14px - 16px */
                font-size: clamp(.875rem, 1.5vw, 1rem);
                line-height: 1.5em;
                margin: 0 0 16/16rem;
                color: #767676;
            }
    
            .cs-name {
                font-size: 16/16rem;
                line-height: 1.2em;
                text-transform: uppercase;
                font-weight: bold;
                margin: 0 0 4/16rem;
                color: var(--headerColor);
                display: block;
            }
    
            .cs-job {
                font-size: 14/16rem;
                line-height: 1.5em;
                color: #767676;
                display: block;
            }
    
            .cs-quote-icon {
                /* 60px - 136px */
                width: clamp(3.75rem, 10vw, 8.5rem);
                height: auto;
                position: absolute;
                bottom: 0/16rem;
                /* 16px - 32px */
                right: clamp(1rem, 4vw, 2rem);
            }
    
            .button-solid {
                margin-top: 25/14em;
            }
        }

        .image-box {
            display: block;
            position: relative;
            margin: auto;
            width: 611/16em;
            height: 861/16em;
            font-size:~"min(1.4vw, 1em)"; // scales the image-box down
            &:before {
                content: '';
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: var(--primary);
                opacity: 1;
                top: 40/16em;
                left: -40/16em;
            }

            &:after {
                content: '';
                position: absolute;
                display: block;
                height: 516/16em;
                width: 460/16em;
                background: url("/images/content-circles.svg");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                opacity: 1;
                top: -226/16em;
                right: -109/16em;
                z-index: -1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            
            }
        }
        .hidden {
            opacity: 0;
            -webkit-transition: all 1s;
            -o-transition: all 1s;
            transition: all 1s;
            -webkit-filter: blur(5px);
                    filter: blur(5px);
            -webkit-transform: translateX(-100%);
                -ms-transform: translateX(-100%);
                    transform: translateX(-100%);
        }
        
        @media(prefers-reduced-motion) {
            .hidden {
                transition: none;
            }
        }
        
        .show {
            opacity: 1;
            -webkit-filter: blur(0);
                    filter: blur(0);
            -webkit-transform: translateX(0%);
                -ms-transform: translateX(0%);
                    transform: translateX(0%);
        
        }
    }
}

/* Inbetween */
@media only screen and (min-width: 666px) {
    #sidebyside {
        padding: 100/16em 0;
    }
}   

/* Small Desktop */
@media only screen and (min-width: 1300px) {
    #sidebyside {
        padding: 50/16em 0;
        .container {
            max-width: 1391/16em;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }

        .content {
            margin: 0;
            width: 60%;
        }

        .image-box {
            margin: 0;
            margin-right: 170/16em;
        }
    }
}



/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {

    #sbs-r {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: 1280/16rem;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            row-gap: 40/16rem;
        }

        .cs-left {
            /* scaling the font size with the view width */
            font-size:~"min(2.31vw, .7em)";
            /* using ems so we can use font size to scale the whole section */
            width: 631/16em;
            height: 636/16em;
            position: relative;
        }

        .cs-picture {
            border-radius: 24/16em;
            /* clips img tag corners */
            overflow: hidden;
            position: absolute;
            display: block;
            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes image act like a background image */
                object-fit: cover;
            }
        }

        .cs-picture1 {
            width: 522/16em;
            height: 581/16em;
            right: 0;
            top: 0;
        }

        .cs-picture2 {
            width: 414/16em;
            height: 400/16em;
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
            /* 6px - 12px */
            border: clamp(.375em, 1.5vw, .75em) solid #fff;
            left: 0;
            bottom: 0;
        }

        .hidden {
            opacity:0;
            transition: all 1s;
            filter:blur(5px);
            transform:translateX(100%)
        }
        
        @media(prefers-reduced-motion) {
            .hidden {
                transition: none;
            }
        }
        
        .show {
            opacity: 1;
            filter:blur(0);
            transform:translateX(0%)
        }

        .cs-right {
            margin: auto;
            max-width: 542/16rem;
        }

        .cs-topper {
            font-size: var(--topperFontSize);
            line-height: 1.2em;
            text-transform: uppercase;
            text-align: left;
            letter-spacing: .1em;
            font-weight: 700;
            color: var(--primary);
            margin-bottom: 4/16rem;
            display: block;
        }

        .cs-title {
            font-size: var(--headerFontSize);
            font-weight: 900;
            line-height: 1.2em;
            text-align: left;
            max-width: 800/16rem;
            margin: 0 auto 16/16rem;
            color: var(--headerColor);
            position: relative;
        }

        .cs-text {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-align: left;
            width: 100%;
            max-width: 750/16rem;
            margin: 0 auto;
            margin-bottom: 16/16rem;
            color: var(--bodyTextColor);
            &:last-of-type {
                margin-bottom: 32/16rem;
            }
        }

        .cs-flex-group {
            /* 16px - 32px */
            padding: clamp(1rem, 3vw, 2rem);
            background-color: #F7F7F7;
            border-radius: 16/16rem;
            position: relative;
        }

        .cs-flex-p {
            /* 14px - 16px */
            font-size: clamp(.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0 0 16/16rem;
            color: #767676;
        }

        .cs-name {
            font-size: 16/16rem;
            line-height: 1.2em;
            text-transform: uppercase;
            font-weight: bold;
            margin: 0 0 4/16rem;
            color: var(--headerColor);
            display: block;
        }

        .cs-job {
            font-size: 14/16rem;
            line-height: 1.5em;
            color: #767676;
            display: block;
        }

        .cs-quote-icon {
            /* 60px - 136px */
            width: clamp(3.75rem, 10vw, 8.5rem);
            height: auto;
            position: absolute;
            bottom: 0/16rem;
            /* 16px - 32px */
            right: clamp(1rem, 4vw, 2rem);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64em) {
    #sbs-r {
        .cs-container {
            flex-flow: row;
            justify-content: space-between;
            gap: 52/16rem;
        }

        .cs-left {
            font-size:~"min(1.2vw, 1em)";
            flex: none;
            /* sends it to the right */
            order: 2;
        }

        .cs-right {
            margin: 0;
        }
    }
}

/*-- -------------------------- -->
<---   RISE SDGs                -->
<--- -------------------------- -*/


