/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
    :root {
      --primary: #0064b1;
      --primaryShade: #ffd675;
      --primaryDark: #805d0d;
      --bodyText: #1a1a1a;
    }
    /* roboto-regular - latin */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      src: local(''), url('../fonts/roboto-v29-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-v29-latin-regular.woff') format('woff');
      
      /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }
    /* roboto-700 - latin */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      src: local(''), url('../fonts/roboto-v29-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-v29-latin-700.woff') format('woff');
      
      /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }
    /* roboto-900 - latin */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 900;
      src: local(''), url('../fonts/roboto-v29-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-v29-latin-900.woff') format('woff');
      
      /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }
    body,
    html {
      margin: 0;
      padding: 0;
      font-size: 100%;
      font-family: 'Roboto', Arial, sans-serif;
      color: var(--bodyText);
      overflow-x: hidden;
    }
    *,
    *:before,
    *:after {
      margin: 0;
      padding: 0;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
    }
    body {
      -webkit-transition: background-color 0.3s;
      transition: background-color 0.3s;
    }
    .container {
      position: relative;
      width: 92%;
      margin: auto;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      color: #1a1a1a;
    }
    p,
    li,
    a {
      font-size: 1.125em;
      line-height: 1.5em;
      margin: 0;
    }
    p,
    li {
      color: #575757;
    }
    a:hover,
    button:hover {
      cursor: pointer;
    }
    .button-solid {
      font-size: 0.875em;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      display: inline-block;
      width: auto;
      line-height: 3.57142857em;
      height: 3.57142857em;
      text-align: center;
      padding: 0 2.14285714em;
      position: relative;
      z-index: 1;
      background-color: var(--primary);
      color: #000;
      -webkit-transition: color .3s;
      transition: color .3s;
      -webkit-transition-delay: .1s;
              transition-delay: .1s;
    }
    .button-solid:hover {
      color: #fff;
    }
    .button-solid:hover:before {
      width: 100%;
    }
    .button-solid:before {
      content: '';
      position: absolute;
      display: block;
      height: 100%;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      background-color: #000;
      width: 0;
      -webkit-transition: width .3s;
      transition: width .3s;
    }
    .skip {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: -1111111;
    }
  }
/* Reset Margins */
@media only screen and (min-width: 1024px) {
  body,
  html {
    padding: 0;
    margin: 0;
  }
}
/* Scale full website with the viewport width */
@media only screen and (min-width: 2000px) {
  body,
  html {
    font-size: .85vw;
  }
}
/*-- -------------------------- -->
<---         Navigation         -->
<--- -------------------------- -*/
/* Desktop */
@media only screen and (min-width: 64em) {
    ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 0.375em rgba(0, 0, 0, 0.3);
      background-color: #fff;
    }
    ::-webkit-scrollbar-track-piece {
      background-color: #f0f0f0;
    }
    ::-webkit-scrollbar {
      width: 0.75em;
      background-color: #F5F5F5;
    }
    ::-webkit-scrollbar-thumb {
      border-radius: 0.625em;
      background: var(--primary);
    }
    body.scroll #navigation .background-color-div {
      height: 100%;
      -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
              box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    body.scroll #navigation .logo .light {
      display: none;
    }
    body.scroll #navigation .logo .dark {
      display: block;
    }
    body.scroll #navigation #navbar-menu ul li a {
      color: #1a1a1a;
    }
    body.scroll #dark-mode-toggle svg path {
      fill: #000;
    }
    body.dark-mode #navigation .background-color-div {
      height: 100%;
      -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
              box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    #navigation {
      width: 100%;
      height: 6.25em;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 200000;
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    #navigation .background-color-div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #fff;
      height: 0;
      -webkit-transition: height .3s;
      transition: height .3s;
    }
    #navigation .container {
      max-width: 75em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    #navigation .logo {
      margin-right: auto;
      height: 3.75em;
      width: auto;
    }
    #navigation .logo img {
      width: auto;
      height: 100%;
    }
    #navigation #navbar-menu ul {
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    #navigation #navbar-menu ul li {
      list-style: none;
      margin-left: 1.875em;
      padding-top: 0.1875em;
    }
    #navigation #navbar-menu ul li a {
      text-decoration: none;
      font-weight: bold;
      font-size: 1.1875em;
      text-transform: uppercase;
      position: relative;
      z-index: 1;
      color: #fff;
      -webkit-transition: color .3s;
      transition: color .3s;
    }
    #navigation #navbar-menu ul li a:before {
      content: '';
      position: absolute;
      display: block;
      height: 0.31578947em;
      border-radius: 0.15789474em;
      background: var(--primary);
      opacity: 1;
      bottom: 0.10526316em;
      z-index: -1;
      left: 0;
      width: 0%;
      -webkit-transition: width .3s;
      transition: width .3s;
    }
    #navigation #navbar-menu ul li a:hover:before {
      width: 100%;
    }
    #navigation #navbar-menu ul li a.active:before {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 0.31578947em;
      background: var(--primary);
      opacity: 1;
      bottom: 0.10526316em;
      border-radius: 0.15789474em;
      left: 0em;
      right: -0.31578947em;
      z-index: -1;
      -webkit-transition: bottom .3s;
      transition: bottom .3s;
    }
    #navigation .hamburger-menu {
      display: none;
    }
  }

/*-- -------------------------- -->
<---   Interior Page Header     -->
<--- -------------------------- -*/

/* Small Desktop */
@media only screen and (min-width: 64em) {
    #int-hero {
      min-height: 18.75em;
      height: auto;
      padding-top: 11.25em;
      -webkit-padding-after: 6.25em;
              padding-block-end: 6.25em;
      background-attachment: fixed;
      font-size: inherit;
    }
  }

/*-- -------------------------- -->
<---           Footer           -->
<--- -------------------------- -*/

/* Small Desktop */
@media only screen and (min-width: 64em) {
    #footer {
      font-size: min(1.2vw, 1em);
    }
    #footer .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 96%;
      max-width: 82.5em;
      margin: auto;
      padding: 0;
    }
    #footer .left-section {
      width: 25.5625em;
      margin: 0;
      text-align: left;
    }
    #footer .left-section .logo {
      text-align: left;
      margin-left: 0;
      height: 4.375em;
    }
    #footer .left-section p {
      text-align: left;
      margin-left: 0;
    }
    #footer .right-section {
      margin: 0;
      width: 38.0625em;
      max-width: none;
    }
    #footer .right-section .lists {
      width: 96%;
      max-width: 48.0625em;
      margin: 0;
      max-width: initial;
    }
    #footer .right-section .lists ul:nth-of-type(3) {
      margin-top: 0;
    }
    #footer .right-section .lists ul:nth-of-type(3) li:first-of-type {
      margin-bottom: 0;
    }
    #footer .right-section .lists ul li a {
      position: relative;
    }
    #footer .right-section .lists ul li a:before {
      content: '';
      position: absolute;
      display: block;
      height: 0.11111111em;
      width: 0%;
      background: var(--primary);
      opacity: 1;
      bottom: -0.16666667em;
      left: 0;
      -webkit-transition: width .3s;
      transition: width .3s;
    }
    #footer .right-section .lists ul li a:hover:before {
      width: 100%;
    }
    #footer .right-section .buttons {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
    }
    #footer .credit .copyright {
      display: inline-block;
    }
  }
  /* Dark Mode */
  @media only screen and (min-width: 0em) {
    body.dark-mode #footer {
      background: #061623;
    }
  }


/*-- -------------------------- -->
<---          Landing           -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
    #banner {
      font-size: inherit;
      padding-bottom: 16.875em;
      padding-top: 9.375em;
      position: relative;
      z-index: 1;
    }
    #banner:before {
      content: '';
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      background: #000;
      opacity: .65;
      top: 0;
      left: 0;
      z-index: -10;
    }
    #banner picture {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -11;
    }
    #banner picture img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      -o-object-fit: cover;
         object-fit: cover;
    }
    #banner .banner-content {
      width: 96%;
      max-width: 71.5em;
      margin: auto;
      position: relative;
      z-index: 10;
      text-align: center;
    }
    #banner .banner-content {
      padding: 0;
    }
    #banner .bannerText {
      width: 100%;
      margin: auto;
      max-width: 56.875em;
    }
    #banner h1 {
      font-weight: bold;
      font-size: min(12vw, 4em);
      color: #fff;
      text-align: center;
      line-height: 1.203125;
      margin: auto;
      width: 100%;
      max-width: 14.125em;
      margin-bottom: 1.4375em;
      position: relative;
    }
    #banner h1:before {
      content: '';
      position: absolute;
      display: block;
      height: 0.0625em;
      width: 1.515625em;
      background: var(--primary);
      opacity: 1;
      bottom: -0.25em;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
    }
    #banner p {
      line-height: 1.55em;
      margin: auto;
      margin-bottom: 1.72222222em;
      color: #fff;
      width: 100%;
      text-align: center;
      max-width: 34.27777778em;
      opacity: 1;
    }
    #banner .button-solid {
      margin: auto;
      display: inline-block;
      width: auto;
    }
  }
  /* Tablet */
  @media only screen and (min-width: 48em) {
    #banner {
      padding: 12.5em 0 18.75em 0;
      z-index: 1;
      overflow: hidden;
    }
    #banner .banner-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      position: relative;
    }
  }
  /* Small Desktop */
  @media only screen and (min-width: 1300px) {
    #banner {
      padding-top: 17.0625em;
      padding-bottom: 19.1875em;
      background: url("../images/landing.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
    #banner picture {
      display: none;
    }
  }

  /*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
    .services {
      border-radius: 0.3125em;
      margin: auto;
      margin-top: -10.4375em;
      position: relative;
      z-index: 100;
      background: #fff;
      width: 90%;
      max-width: 82.5em;
      padding: 3.125em 1.25em;
      border-top: 0.375em solid var(--primary);
      -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
              box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
      margin-bottom: 3.125em;
    }
    .services .card {
      display: block;
      width: 100%;
      max-width: 22.3125em;
      margin: auto;
      margin-bottom: 3.125em;
    }
    .services .card:last-of-type {
      margin-bottom: 0;
    }
    .services .card picture {
      background: var(--primary);
      width: 5.5em;
      height: 5.5em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: auto;
      margin-bottom: 1.4375em;
      border-radius: 50%;
    }
    .services .card picture img {
      width: 3em;
      height: 3em;
    }
    .services .card h2 {
      text-align: center;
      font-size: 2em;
      line-height: 1.35em;
      font-weight: 700;
      color: #1a1a1a;
      margin-bottom: 0.65em;
    }
    .services .card p {
      text-align: center;
      line-height: 1.33333333em;
      width: 100%;
      opacity: .7;
    }
  }
  /* Inbetween */
  @media only screen and (min-width: 768px) {
    .services {
      font-size: min(1.8vw, 1em);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      width: 98%;
    }
    .services .card {
      margin: 0;
      max-width: 20.3125em;
    }
  }
  /* Large Desktop */
  @media only screen and (min-width: 1300px) {
    .services {
      padding: 3.125em 5em;
    }
    .services .card {
      max-width: 22.3125em;
    }
  }

@media only screen and (min-width: 0em) {
    #sbs {
      padding: var(--sectionPadding);
    }
    #sbs .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      row-gap: 2.5rem;
    }
    #sbs .cs-left {
      /* scaling the font size with the view width */
      font-size: min(2.31vw, .7em);
      /* using ems so we can use font size to scale the whole section */
      width: 39.4375em;
      height: 39.75em;
      position: relative;
    }
    #sbs .cs-picture {
      border-radius: 1.5em;
      /* clips img tag corners */
      overflow: hidden;
      position: absolute;
      display: block;
    }
    #sbs .cs-picture img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      /* makes image act like a background image */
      object-fit: cover;
    }
    #sbs .cs-picture1 {
      width: 32.625em;
      height: 36.3125em;
      left: 0;
      top: 0;
    }
    #sbs .cs-picture2 {
      width: 25.875em;
      height: 25em;
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
      /* 6px - 12px */
      border: clamp(0.375em, 1.5vw, 0.75em) solid #ffffff;
      right: 0;
      bottom: 0;
    }
    #sbs .cs-right {
      margin: auto;
      max-width: 33.875rem;
    }
    #sbs .cs-topper {
      font-size: var(--topperFontSize);
      line-height: 1.2em;
      text-transform: uppercase;
      text-align: left;
      letter-spacing: .1em;
      font-weight: 700;
      color: var(--primary);
      margin-bottom: 0.25rem;
      display: block;
    }
    #sbs .cs-title {
      font-size: var(--headerFontSize);
      font-weight: 900;
      line-height: 1.2em;
      text-align: left;
      max-width: 50rem;
      margin: 0 auto 1rem;
      color: var(--headerColor);
      position: relative;
    }
    #sbs .cs-text {
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      text-align: left;
      width: 100%;
      max-width: 46.875rem;
      margin: 0 auto;
      margin-bottom: 1rem;
      color: var(--bodyTextColor);
    }
    #sbs .cs-text:last-of-type {
      margin-bottom: 2rem;
    }
    #sbs .cs-flex-group {
      /* 16px - 32px */
      padding: clamp(1rem, 3vw, 2rem);
      background-color: #F7F7F7;
      border-radius: 1rem;
      position: relative;
    }
    #sbs .cs-flex-p {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      margin: 0 0 1rem;
      color: #767676;
    }
    #sbs .cs-name {
      font-size: 1rem;
      line-height: 1.2em;
      text-transform: uppercase;
      font-weight: bold;
      margin: 0 0 0.25rem;
      color: var(--headerColor);
      display: block;
    }
    #sbs .cs-job {
      font-size: 0.875rem;
      line-height: 1.5em;
      color: #767676;
      display: block;
    }
    #sbs .cs-quote-icon {
      /* 60px - 136px */
      width: clamp(3.75rem, 10vw, 8.5rem);
      height: auto;
      position: absolute;
      bottom: 0rem;
      /* 16px - 32px */
      right: clamp(1rem, 4vw, 2rem);
    }
    #sbs .button-solid {
      margin-top: 2rem;
    }
  }
  /* Desktop - 1024px */
  @media only screen and (min-width: 64em) {
    #sbs .cs-container {
      flex-flow: row;
      justify-content: space-between;
      gap: 3.25rem;
    }
    #sbs .cs-left {
      font-size: min(1.2vw, 1em);
      flex: none;
    }
    #sbs .cs-right {
      margin: 0;
    }
  }

  /*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/
  /* Small Desktop */
  @media only screen and (min-width: 1300px) {
    #sidebyside-reverse {
      padding: 9.375em 0;
    }
    #sidebyside-reverse .container {
      max-width: 86.9375em;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
    #sidebyside-reverse .content {
      margin: 0;
      width: 60%;
      order: 1;
    }
    #sidebyside-reverse .image-box {
      margin: 0;
      margin-left: 10.625em;
      order: 2;
    }
    #sidebyside-reverse .image-box:before {
      left: auto;
      right: -2.5em;
    }
    #sidebyside-reverse .image-box:after {
      right: auto;
      left: -6.8125em;
    }
  }